html,
:root {
  height: 100%;
}

h1{
	text-align: left;
	color:#ddd;
	font-size: 2.125em;
	border-left: 5px;
}

header{
	background: linear-gradient(180deg, black 0%, rgba(170, 34, 34, 0.685) 100%);
	padding: 40px;
}

nav{
	border-bottom: 4px solid #F4F4F4;
	box-sizing: border-box;
	padding-bottom: 40px;
}

nav > div{
	clear: both;
}
nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav li{
	position: relative;
	float:left;	
}

nav .sair {
	float: right;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 17px;
}

nav a{
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	display: block;
	
}

nav li a:hover{
	background-color: #F4F4F4;
}

nav li:hover .submenu{
	display:block;
}

input {
  box-sizing: border-box;
  outline: none;
}
body {
  /*background: linear-gradient(180deg, #ddd 0%, white 100%);*/
  background-size: 100%;
  margin: 0;
  /*height: 100%;*/
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  max-width: 1800px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#formulario {
  width: 500px;
  min-height: 400px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 30px;
}
#formulario legend {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
  font-size: 22px;
}
.input-group {
  margin: 10px 0;
}

.input-group2 {
  margin: 10px 0;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #393939;
  cursor: pointer;
}

.input-group2 label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #393939;
  cursor: pointer;
  margin-left: 25%;
}

.input-group input:not([type="checkbox"]) {
  background: #dedddd;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 8px 10px;
  display: block;
  width: 100%;
}

.input-group2 input:not([type="checkbox"]) {
  background: #dedddd;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 8px 10px;
  display: block;
  width: 50%;
  margin-left: 25%;
}

.input-group input:focus {
  border-color: black;
}

.input-group2 input:focus {
  border-color: black;
}

.input-group input::placeholder {
  color: #686868;
  font-weight: 300;
}

.input-group2 input::placeholder {
  color: #686868;
  font-weight: 300;
}
.colunas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.colunas .input-group {
  width: 48%;
}

.colunas .input-group2 {
  width: 48%;
}
.footer {
  text-align: center;
}
.botao {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #ddd;
  font-weight: bold;
  cursor: pointer;
}

.botaoLog {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #ddd;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
}
.botao:hover {
  background: black;
}

p{
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	text-align: justify;
}